html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

main {
  overflow: auto;
}

.page-container {
  display: flex;
  min-height: 100vh;
  background-color: #f8f9fbee;
  color: #1e293b;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}

.sidebar {
  flex: 0 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-right: 1px solid #e4e7ecfb;
  height: 100vh;
  position: relative;
}
.sidebar-items {
  padding-top: 1rem;
}

.menu-link,
.dropdown-toggle{
  display: flex;
  padding: 0.45rem 0.9rem;
  font-size: .95rem;
  font-weight: 500;
  color: #6f7680;
  text-decoration: none;
  border-radius: 6px;
  transition: background 0.2s ease;
  align-items: center;
  gap: 10px;       
}

.sidebar-content {
  padding: 1rem 1rem 1.25rem;
}

.sidebar-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 0.75rem;
}

.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.page-content main {
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;
}

.logo-image {
  display: flex;
  justify-content: center;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.siderbar-items {
  list-style: none;
}

.siderbar-item {
  list-style: none;
}

.dropdown-link.active,
.menu-link:hover,
.menu-link.active {
  background: #f3f4f7;
  color: #215683;
}

/* Dropdown */
.dropdown-menu {
  list-style: none;
}


.dropdown-toggle:hover {
  background: #f1f3f6;
  color: #2f3845;
}

.dropdown-label {
  font-size: 0.9rem;
  font-weight: 500;
}

.dropdown-arrow {
  transition: transform 0.25s;
}

.dropdown-menu[open] .dropdown-arrow {
  transform: rotate(-180deg);
}

.dropdown-items {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 0.5rem;
  padding-left: 1rem;
}

.dropdown-link {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #6f7680;
  text-decoration: none;
  border-radius: 6px;
  align-items: center;
  gap: 10px;
}

.dropdown-link:hover {
  background: #edf0f5;
  color: #2e3540;
}

/* Sidebar Footer */
.sidebar-footer {
  border-top: 1px solid #e6e8eb;
  display: flex;
  justify-content: center;
}

.help-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: #6b7280;
  text-decoration: none;
  border-radius: 6px;
}

.help-link:hover {
  color: #2e3540;
}


/* Header */
.main-header {
  background: #ffffff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

.header-title {
  text-decoration: none;
}

.page-title {
  font-size: 1.45rem;
  font-weight: 700;
  color: #215683;
  margin: 0;
}

.header-navigation {
  display: flex;
}

.header-links {
  display: flex;
  gap: 1.25rem;
  font-size: 0.9rem;
  font-weight: 500;
}

.account-info {
  display: flex;
  flex-direction: column;
}

.account-name {
  font-size: 0.75rem;
  margin: 0;
}

.account-label {
  font-size: 1rem;
}